@tailwind base;
@tailwind components;
@tailwind utilities;

/* STRIPS infinite scroll */
.strips {
    display: flex;
    justify-content: flex-start;
    background-color: #1A1A1A;
    overflow: hidden;
}

.strips-text {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    text-stroke-color: #fff;
    white-space: nowrap;
    padding: 0 0.5rem;
    letter-spacing: 5px;
    animation: move-rtl 15000ms linear infinite;
}

@keyframes move-rtl {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* end STRIPS infinite scroll */