/node_modules
.env
/config/config.json
assets/img/users/*.png
assets/img/users/*.jpg
assets/img/users/*.jpeg
assets/img/users/*.gif
assets/img/user_postingan/*.png
assets/img/user_postingan/*.jpg
assets/img/user_postingan/*.jpeg
assets/img/user_postingan/*.gif
